
.gallery__list {
    display: flex;
}

.gallery__item {
}

.gallery__item-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gallery__item:nth-child(2) {
    padding: 0 6px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    padding-bottom: 99%;
    transition: 0.4s linear;
    background-size: cover;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.08);
}

.gallery__info {
    position: absolute;
    bottom: 40px;
    padding: 0 38px;
    color: #fff;
}

.gallery__title {
    font-weight: bold !important;
    padding-bottom: 25px;
}

.gallery__button {
    font-size: 12px;
    color: #fff;
    padding: 6px 14px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}

.gallery-infinite-text-wrapper p {
    font-size: 18px;
    padding: 0 18px;
}

.gallery__prod-cat-list {
    padding: 30px;
    display: flex;
    overflow-x: auto;
}

.gallery__prod-cat-item {
    width: 170px;
    flex-shrink: 0;
    flex-grow: 0;
}

.gallery__prod-cat-icon {
    margin: 0 auto 10px auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__prod-cat-icon i {
    font-size: 40px;
    transition: 0.4s linear;
}

.gallery__prod-cat-item:hover .gallery__prod-cat-icon i {
    transform: scale(1.1);
}

.gallery__prod-cat-name {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.gallery_rich-text {
    padding: 20px 12px;
}

.gallery_rich-text h3 {
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
